body {
    background-color: whitesmoke;
  }
  
  .todo-list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
  }
  
  .todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
  }
  
  .todo-search {
    height: 1.5rem;
    border-radius: 5px solid;
    width: 60%;
    caret-color: orange;
  }
  
  .todo-search::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .completed-style {
    font-style: italic;
    color: #cdcdcd;
    text-decoration: line-through;
  }
  
  .todo-add-container {
    margin-top: 10px;
    
  }
  
  .todo-add-button {
    height: 30px;
    margin-left: 10px;
    border-radius: 5px solid;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    font-size: 30px;
  }
  